* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: rgba(0, 153, 255, 0.988);
    
}  
nav   {
    color:blueviolet;
    font-size: 28px;
    text-align: left;
    font-family: "BBH Sans Bogle", sans-serif;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px; 
    color: white;
    font-weight: 700; 
}
h2 {
    color: rgb(68, 255, 0);
    font-family: 'Poppins', sans-serif;
}

h4{
    color:black;
    
}

  